@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Noto Sans', sans-serif;
}

.navColor{
    background-color: rgba(0, 0, 0, 0.65);
}

.contenedorBanner{
    height: 32rem;
}
@media (max-width: 768px) {
    .contenedorBanner{
        height: 20rem;
    }
}

.textShadowBanner{
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.transicionDeEntrada{
    animation: transicionEntrada .5s  none;
}
.transicionDeSalida{
    animation: transicionSalida 1s none;

}


@keyframes transicionEntrada {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}
@keyframes transicionSalida {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
}

.contenedorReserva{
    padding-top: 4.2rem;
    padding-bottom: 2.2rem;

    background-color: #83080a;
    background-image: linear-gradient(32deg, #83080a 17%, #871717 27%, #000000 100%);
}

.contenedorFormulario{
    padding-top: 5.5rem;
    background-color: rgba(0, 0, 0, 0.4); /* Color de fondo con transparencia */
    /* position: fixed; */
}

.transition-form {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .visible {
    opacity: 1;
  }

  .fondoDragado{
    background-color: #83080a;
    background-image: linear-gradient(32deg, #83080a 17%, #871717 27%, #000000 100%);
  }
  .fondoOscuro{
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo con transparencia */
  }
  .bordeInferior{
    border-bottom: 1px solid black;

  }
  .animacionInicioMensaje{
    top: -10;
    animation: slideIn 1s ease-in-out forwards;
  }

  .animacionSalidaMensaje{
    top: 1rem;
    animation: slideOut 1s ease-in-out forwards;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      top: -10rem;
    }
    100% {
      opacity: 1;
      top: 1rem;
    }
  }
  @keyframes slideOut {
    0% {
      opacity: 1;
      top: 1rem;
    }
    50%{
      opacity:.5;
    }
    100% {
      opacity: 0;
      top: -10rem;
    }
  }